*Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()*

In [1]:
from functools import  reduce

In [3]:
def myreduce(add,list1):
  return a
def add (a,b):
  return a+b
list1=[1,2,3,4]
a = list1[0]
for i in range(1, len(list1)):
  b = list1[i]
  a = add(a,b)
print(myreduce(add,list1))

10

*Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()*

In [5]:
def myfilter(is_even,list2):
  return is_even(a)
list2 = [1,2,3,4,5,6,7,8,9,10]
list3 = []
def is_even(a):
  for i in list2:
    if i%2==0:
      list3.append(i)
  print(list3)
print(myfilter(is_even,list2))

[2, 4, 6, 8, 10]
None

*Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists*
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [9]:
l = [n*i for i in ['x','y','z'] for n in range(1,5)]
l

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

*Print* ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [13]:
l = [i*n for i in range(1,5) for n in ['x','y','z']]
l

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

*Print* : [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [18]:
l = [[x+y] for x in range(2,5) for y in range(3)]
l

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

*Print* : [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [19]:
l1 = [[2],[3],[4],[5],[6],[7],[8]]
l2 = [[l1[x+y][0]for x in range(4)]for y in range(4)]
l2

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

*Print* : [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [22]:
l1 = (1,2,3)
l2 = (1,2,3)
l3 = [(x,y) for y in l1 for x in l2]
l3

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]